.btn{
    margin: 50px;
}

.btn button{
    
    border: none;
    width: 250px;
    height: 35px;
    background-color: rgb(67, 110, 229);
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
    font-weight: bolder;
}
.btn button:hover{
    background-color: rgb(4, 41, 143);
    transition-duration: 1s;
    cursor: pointer;
}